<div class="container" ng-controller="generalController">

  <form id="form">

    <h4>Company Information</h4>
    <div>
      <table class='table'>
        <tr>
          <td> Website</td>
          <td> <input type='text '  placeholder =" {{websiteWebsite}}" disabled></td></tr>
        <tr>  <td> About Company</td>
          <td> <textarea disabled< input type= 'text'  placeholder =" {{websiteaboutCompany}}" ></textarea></td></tr>
            </table></div>
        </tr></table>
      </div>
</form>
